#container{
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#search-items{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    font-size:x-large;
}
/* This targets the elements with id "search-container" and sets the display to flex. A flexbox is a layout model that makes responsive design easier. */
#search-container{
    display:flex;
    justify-content: center;
}

input{
    width: 60%;
    box-sizing: border-box;
    background-color:  white;
    padding: 14px 15px 14px 40px;
    border: 1px solid black;
    color: black;
}

button{
    background-color:  #6caee0;
    color: #ffffff;
    padding: 15px 22px;
    cursor: pointer;
    border: none;
}